@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&display=swap");
html {
  scroll-behavior: smooth;
}

body.lock {
  overflow: hidden;
}

.pts, .item-footer__links .item-footer__link, .projects-header__tab, .block-about__link, .item-solution__text, .menu-header__link, .text, .subtitle {
  font-family: "Inter", sans-serif;
}

.ptz, .header__logo, .logo {
  font-family: "Barlow", sans-serif;
}

.title {
  font-size: 51px;
  font-weight: 700;
  text-align: center;
  color: #2f2e2e;
}
@media (max-width: 767px) {
  .title {
    font-size: 38px;
  }
}

.logo {
  display: inline-block;
  font-weight: 600;
  font-size: 42px;
  color: #2f2e2e;
}

.subtitle {
  margin: 0 0 24.5px 0;
  font-weight: 900;
  font-size: 24px;
  color: #fafafa;
}

.text {
  font-size: 17px;
  font-weight: 400;
  line-height: 29px;
  color: #fafafa;
}

#map {
  width: 295px;
  height: 221px;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Playfair Display", sans-serif;
}
body.lock {
  overflow: hidden;
}
@media (max-width: 767px) {
  body.lock {
    width: 100%;
    overflow: hidden;
  }
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------------------*/
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}
.container {
  max-width: 1245px;
  margin: 0 auto;
  width: 100%;
}
@media (max-width: 1245px) {
  .container {
    max-width: 992px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 767px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

.burger__menu {
  display: none;
  width: 30px;
  height: 18px;
  position: relative;
  margin-top: 10px;
  cursor: pointer;
  z-index: 5;
}
.burger__menu span {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: absolute;
  top: 8px;
  left: 0px;
  width: 100%;
  height: 2px;
  background-color: #000;
}
.burger__menu span:first-child {
  top: 0;
}
.burger__menu span:last-child {
  top: auto;
  bottom: 0;
}
.burger__menu.active span {
  transform: scale(0);
}
.burger__menu.active span:first-child {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 8px;
}
.burger__menu.active span:last-child {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  bottom: 8px;
}
@media (max-width: 767px) {
  .burger__menu {
    display: block;
  }
}

.header {
  margin: 0 0 30px 0;
  position: fixed;
  background-color: #fff;
  width: 100%;
  z-index: 100;
}
@media (max-width: 992px) {
  .header {
    margin: 0 0 20px 0;
  }
}
@media (max-width: 767px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
  }
}
.header__body {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
@media (max-width: 767px) {
  .header__body {
    height: 75px;
  }
}
.header__logo {
  display: inline-block;
  position: relative;
  z-index: 999;
  font-weight: 600;
  font-size: 42px;
  color: #2f2e2e;
}

.menu-header__menu {
  position: relative;
}
@media (max-width: 767px) {
  .menu-header__menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    padding: 50px;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    z-index: 2;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .menu-header__menu.active {
    top: 0;
  }
}
.menu-header__list {
  display: flex;
  align-items: center;
}
.menu-header__list li {
  margin: 11px 100px 0 0;
}
@media (max-width: 992px) {
  .menu-header__list li {
    margin: 10px 40px 0 0;
  }
}
@media (max-width: 767px) {
  .menu-header__list li {
    margin: 40px 0;
  }
}
@media (max-width: 767px) {
  .menu-header__list {
    display: block;
  }
}
.menu-header__link {
  display: inline-block;
  position: relative;
  font-size: 20px;
  color: #2f2e2e;
}
.menu-header__link span {
  position: relative;
  display: block;
  line-height: 28px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.menu-header__link span:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 1.5px;
  background-color: #2f2e2e;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 767px) {
  .menu-header__link span:after {
    bottom: -5px;
  }
}
.menu-header__link:hover {
  color: #1b1a1a;
}
.menu-header__link:hover span:after {
  left: 0;
  width: 100%;
}
.menu-header__link span.active::after {
  left: 0;
  width: 100%;
}
@media (max-width: 767px) {
  .menu-header__link {
    font-size: 35px;
  }
}
.menu-header .search {
  margin-top: 10px;
}
.menu-header .search__icon {
  fill: #2f2e2e;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.menu-header .search__icon:hover {
  fill: #1b1a1a;
  transform: scale(1.2) rotate(-25deg);
}
@media (max-width: 767px) {
  .menu-header .search {
    position: absolute;
    top: 21px;
    right: 70px;
    transform: scale(1.1);
  }
}

.solution {
  height: 739px;
}
.solution__body {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.solution img {
  max-width: 100%;
}
@media (max-width: 510px) {
  .solution img {
    margin: 200px 0 0 0;
  }
}
@media (max-width: 1170px) {
  .solution {
    height: auto;
  }
}

.item-solution__body {
  position: absolute;
  top: 150px;
  left: 0;
  width: 691px;
  height: 550px;
  z-index: 5;
  padding: 138px 100px 0;
  background: linear-gradient(91.1deg, rgba(244, 246, 245, 0.9) -7.89%, rgba(255, 255, 255, 0.9) 132.55%);
}
@media (max-width: 1170px) {
  .item-solution__body {
    height: 475px;
  }
}
@media (max-width: 992px) {
  .item-solution__body {
    top: 50px;
    width: auto;
    height: auto;
    padding: 100px 55px 80px;
  }
}
@media (max-width: 767px) {
  .item-solution__body {
    padding: 30px 10px;
  }
}
.item-solution__title {
  margin: 0 0 10px 0;
  font-size: 51px;
  line-height: 60px;
  color: #2f2e2e;
}
@media (max-width: 767px) {
  .item-solution__title {
    font-size: 40px;
  }
}
@media (max-width: 510px) {
  .item-solution__title {
    font-size: 20px;
    line-height: 30px;
  }
}
.item-solution__text {
  font-size: 32px;
  font-weight: 200;
  line-height: 39px;
  color: #2f2e2e;
}
@media (max-width: 767px) {
  .item-solution__text {
    font-size: 20px;
  }
}
@media (max-width: 510px) {
  .item-solution__text {
    font-size: 14px;
    line-height: 22px;
  }
}

.services {
  padding: 15px 0 65px;
  margin: 0 0 75px 0;
  background: rgba(37, 77, 77, 0.2);
}
@media (max-width: 767px) {
  .services {
    margin: 0 0 35px 0;
  }
}
.services__container {
  max-width: 1170px;
  margin: 0 auto;
}
.services__title {
  margin: 0 0 45px 0;
}
.services__body {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.services__column {
  flex: 0 0 auto;
}
@media (max-width: 767px) {
  .services__column {
    flex: 1 1 100%;
  }
}
@media (max-width: 767px) {
  .services {
    padding: 15px 0 0px;
  }
}

.item-services {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.item-services__image {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 103px;
  height: 103px;
  background-color: #254d4d;
  border-radius: 50%;
}
.item-services__blocktext {
  width: 158px;
}
@media (max-width: 767px) {
  .item-services__blocktext {
    width: auto;
  }
}
.item-services__title {
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 700;
  color: #2f2e2e;
}
.item-services__subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #2f2e2e;
}
@media (max-width: 767px) {
  .item-services {
    margin: 0 0 50px 0;
  }
}

.about {
  margin: 0 0 95px 0;
}
@media (max-width: 767px) {
  .about {
    margin: 0 0 45px 0;
  }
}
.about__row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@media (max-width: 1245px) {
  .about__row {
    flex-direction: column;
  }
}
.about__image {
  text-align: center;
}
@media (max-width: 1245px) {
  .about__image {
    order: 2;
  }
}
@media (max-width: 767px) {
  .about__image img {
    max-width: 100%;
  }
}
.block-about {
  margin: 65px 0 0 85px;
}
.block-about__title {
  margin: 0 0 25px 0;
  text-align: left;
}
@media (max-width: 1245px) {
  .block-about__title {
    text-align: center;
  }
}
.block-about__text {
  margin: 0 0 35px 0;
  font-size: 31px;
  line-height: 46px;
}
@media (max-width: 767px) {
  .block-about__text {
    font-size: 20px;
    line-height: 30px;
  }
}
.block-about__link {
  font-size: 24px;
  font-weight: 600;
  color: #2f2e2e;
  --b: 0.15em; /* the thickness of the line */
  --c: #254d4d; /* the color */
  color: rgba(0, 0, 0, 0);
  padding-block: var(--b);
  background: linear-gradient(var(--c) 0%, #000) 0% calc(100% - var(--_p, 0%))/100% 200%, linear-gradient(var(--c) 0 0) 0% var(--_p, 0%)/var(--_p, 0%) var(--b) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.3s var(--_s, 0s) linear, background-size 0.3s calc(0.3s - var(--_s, 0s));
}
.block-about__link:hover {
  --_p: 100%;
  --_s: 0.3s;
}
@media (max-width: 1245px) {
  .block-about {
    text-align: center;
    margin: 0 0 50px 0;
  }
}

.projects {
  margin: 0 0 60px 0;
}
@media (max-width: 767px) {
  .projects {
    margin: 0 0 10px 0;
  }
}
.projects__row {
  display: none;
}
.projects__row:target {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -50px;
}
.projects__item {
  width: 33.333%;
  padding: 0 50px;
  margin: 0 0 75px 0;
}
@media (max-width: 1245px) {
  .projects__item {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .projects__item {
    width: 100%;
    margin: 0 0 50px 0;
  }
}

.projects-header {
  margin: 0 0 70px 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;
}
@media (max-width: 767px) {
  .projects-header {
    flex-direction: column;
    margin: 0 0 55px 0;
  }
}
@media (max-width: 767px) {
  .projects-header__title {
    margin: 0 0 15px 0;
  }
}
.projects-header__list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.projects-header__list li {
  margin-left: 95px;
}
.projects-header__list li:first-child {
  margin: 0;
}
@media (max-width: 992px) {
  .projects-header__list li {
    margin-left: 50px;
  }
}
@media (max-width: 510px) {
  .projects-header__list li {
    margin-left: 22px;
  }
  .projects-header__list li:first-child {
    margin-left: 5px;
  }
}
.projects-header__tab {
  position: relative;
  font-size: 20px;
  font-weight: 400;
  color: #2f2e2e;
}
.projects-header__tab span::after {
  content: "";
  position: absolute;
  width: 0;
  left: 0;
  bottom: 0;
  height: 1.5px;
  background-color: #2f2e2e;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.projects-header__tab:active {
  font-weight: 700;
}

.item-projects {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item-projects__image {
  margin: 0 0 15px 0;
}
.item-projects__image img {
  border-radius: 30px;
}
.item-projects__text {
  width: 178px;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  color: #2f2e2e;
}

.feedback {
  margin: 0 0 150px 0;
}
@media (max-width: 767px) {
  .feedback {
    margin: 0 0 100px 0;
  }
}
.feedback__title {
  margin: 0 0 75px 0;
}
@media (max-width: 510px) {
  .feedback__image img {
    width: 110px;
    height: 110px;
  }
}
.feedback__textblock {
  margin: 0 0 0 30px;
}
@media (max-width: 1110px) {
  .feedback__textblock {
    text-align: center;
  }
}
.feedback__name {
  width: 363px;
  margin: 0 0 15px 0;
  font-size: 28px;
  font-weight: 700;
  color: #2f2e2e;
}
@media (max-width: 1110px) {
  .feedback__name {
    width: auto;
  }
}
@media (max-width: 510px) {
  .feedback__name {
    font-size: 22px;
  }
}
.feedback__text {
  width: 307px;
  font-size: 17px;
  line-height: 20px;
  color: #2f2e2e;
}
@media (max-width: 1110px) {
  .feedback__text {
    width: auto;
  }
}
@media (max-width: 510px) {
  .feedback__text {
    font-size: 14px;
  }
}

.feedback-slider {
  position: relative;
}
.feedback-slider__wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.feedback-slider__slide {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}
@media (max-width: 1245px) {
  .feedback-slider__slide {
    margin: 0 20px 0 0;
  }
}

.feedback-slider .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background: rgb(69, 69, 69);
}

.swiper-pagination {
  bottom: -65px !important;
}

.footer {
  height: 369px;
  padding: 50px 100px;
  background: #2e2f32;
}
.footer__body {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -40px;
}
@media (max-width: 1100px) {
  .footer {
    height: auto;
  }
}
@media (max-width: 767px) {
  .footer {
    padding: 30px 30px 10px;
  }
}

.item-footer__logo {
  margin: -10px 0 21px 0;
  color: #fafafa;
}
.item-footer__text1 {
  margin: 0 0 40px 0;
}
.item-footer__text2 p {
  margin: 0 0 8px 0;
}
.item-footer__links .item-footer__link {
  display: block;
  margin: 0 0 10px 0;
  font-size: 17px;
  font-weight: 400;
  color: #fafafa;
}
@media (max-width: 992px) {
  .item-footer__links {
    margin: 70px 0 0 0;
  }
}
@media (max-width: 767px) {
  .item-footer__links {
    margin: 0;
  }
}
.social-footer {
  display: flex;
}
.social-footer__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  margin-right: 25px;
  border-radius: 25%;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.social-footer__item:hover {
  background-color: #e8ecee;
}
.social-footer__item:hover .social-footer__icon {
  fill: #1b1a1a;
}
.social-footer__icon {
  fill: #fafafa;
}

.item-footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  padding: 0 40px;
  margin: 0 0 50px 0;
}
@media (max-width: 1245px) {
  .item-footer {
    padding: 0 10px;
  }
}
@media (max-width: 992px) {
  .item-footer {
    width: 50%;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .item-footer {
    width: 100%;
    margin: 0 0 30px 0;
  }
}/*# sourceMappingURL=style.css.map */